
<% content_for :title, "Home" %>
 <% if user_signed_in? %>

<div class="row">
	<div class="col-md-12 text-center">
		<% if current_user.user_type == "Job" %>
		<h1 class="slogan">You have it. They ship it. <br> We make money.</h1>
		<% else %>
		<h1 class="slogan">They have it. You ship it. <br> We make money.</h1>
		<% end %>
	</div>
</div>

<% else %>
<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="slogan"> Send it. Ship it. <br> Make money.</h1>
	</div>
</div>
<div class="signup" id="notauser">
  	<h4><span>...Not a user? <%= link_to 'Sign Up Here', '/users/sign_up' %></span></h4>
</div>

<% end %>