/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require bootstrap_and_overrides
 */
/*
ul.nav a:hover { color: #fff !important; }
ul.nav a { color: #000 !important; }

.navbar-default {
	background-color: #204b57;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav ul > li > a:hover,
.navbar-default .navbar-nav ul > li > a:focus {
    color: #AA0000;
}
.brandy {
	color: white;
}*/
.nav.navbar-nav li a {
    color: #000;
}
.nav.navbar-nav li a:hover {
    color: #fff;
}
.navbar-default.navbar-brand a {
    color: #000;
}
.navbar-default.navbar-brand a:hover {
    color: #fff;
}
.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }