/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 */

body {
  background-color: #fdfffc;
}
#email_login {
  position: absolute;
  left: 61%;
  color: white;
}

#password_login {
  position: absolute;
  left: 75%;
  color: white;
}

#login_button {
  position: absolute;
  left: 89%;
  top: 28px;

}
.nav.navbar-nav li a {
  font-family: 'Roboto', sans-serif;
  color: #bababa;
}
.nav.navbar-nav li a:hover {
  color: #ffffff
}
.navbar-default.navbar-brand a {
  color: #000000;
}
.navbar-default.navbar-brand a:hover {
  color: #ffffff;
}
.navbar-default {
  background-color: #2c4251;
  background-image: none;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  padding-top: 10px;
 }
.jobsy {
  border: 1px solid #e7e7e7;
  background-color: #2c4251;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.joberugen {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  padding: 10px;
  padding-top: 0;
  color: #ffffff;
}
.jobery {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
}
.slogan {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
}
.main-bar {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px;
  background-image: none;
  background-repeat: no-repeat;
}
.footer-bar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #2c4251;
}
.btn-github {
    color: #ffffff;
    background-color: #197bbd;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open>.dropdown-toggle.btn-github {
    color: #ffffff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
.cc {
    color: #0495c9;
}
.cc:hover, .cc:focus, .cc:active, .cc.active, .open>.dropdown-toggle.cc {
    color: #00b3db;
    text-decoration: none;
}
.jobsy-more {
  color: #ffffff;
  background-color: #197bbd;
}
.jobsy-more:hover, .jobsy-more:focus, .jobsy-more:active, .jobsy-more.active, .open>.dropdown-toggle.cjobsy-more {
    color: #ffffff;
    background-color: #00b3db;
}
