.formFields{
	border: 1px solid lightgrey;
	width: 250px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 28px;
	margin: 10px;
	position: relative;
	display: inline-block;
}

#indexTitle{
	text-align: center;
}

.indexForm{}
