#indexTitle{
	text-align: center;
}
#map {
	position:absolute;
	top: -20px;
	left: 300px;
}
.formFields{
	border: 1px solid lightgrey;
	width: 250px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 28px;
	margin: 10px;
	position: relative;
	display: inline-block;
}
.showField {
	border: 1px solid lightgrey;
	width: 250px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 28px;
	margin: 10px;
	position: relative;
	display: inline-block;
}
.indexForm {}
