// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof_img {
	height: 150px;
	width: 150px;
}
#notauser {
	position: relative;
	left: 500px;
	top: 200px;
}

.shadowStyle{
	border: 1px solid lightgrey;
	padding-top: 20px;
	padding: 60px;
	width: 600px;
	height: 500px;
	margin-top: 70px;
	margin: 0 auto;
	box-shadow: 0 0 1em lightgrey;
	text-align:center;

}

.formFields{
margin: 0 auto;
}

.pageTitle{
	text-decoration: underline;
}
#indexTitle{
	text-decoration: underline;
}
#editUserShow{
	text-align: center;
}

