// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof_img {
	height: 150px;
	width: 150px;
}
#notauser {
	position: relative;
	left: 500px;
	top: 200px;
}
